body {
  background: grey;
}
header {
  background: black;
}
header h1 {
  background-image: linear-gradient(to right,#37BBED,#000000);
  border-radius: 0px 0px 50px 50px;
  width: 97%;
  max-width: 100%;
  text-align: right;
  color: #cccccc;
  padding: 1%;
  text-shadow: 2px 2px 10px #ffffff80;
  font-size: 50px;
  box-shadow: 5px 5px 5px #00000090;
  animation-name: zfar-header-1;
  animation-duration: 1s;
}

 @keyframes zfar-header-1 {
  from {width: 35%;border-radius: 0%;color: black}
  to {width: 98%;border-radius: 0px 0px 50px 50px;}


}

nav {
  padding: 1%;
  width: 98%;
  background: radial-gradient(ellipse at top, #37BBED80, #00000050),
            radial-gradient(ellipse at right, #ffffff, #000000);
  display: flex;
  border-radius: 20px;
}
nav .nav-boton {
  text-align: center;
  border-radius: 15px;
  background: radial-gradient(ellipse at bottom, #ffffff50, #00000080),
            radial-gradient(ellipse at top, #37BBED, transparent);
  /* background: radial-gradient(ellipse at top,#37BBED,#000000); */
  padding: 20px;
  margin: 5px;
  color: #000000;
  text-shadow: 0px 0px 10px white;
  font-size: 40px;
  width: inherit;
  transition: width 500ms, background 500ms;
  box-shadow: 2px 2px 10px black;
}
.nav-boton:hover {
  /* font-size: 45px; */
  width: 300%;
  color: #ffffff;
  background: radial-gradient(ellipse at center, #ffffff00, #00000080),
            radial-gradient(ellipse at center, #37BBED, #ffffff25);
}
